#-------------------------------
# General Site Settings
title: Bike Bus PDX
logo: /assets/images/bikebuspdx-logo-black-round-512.png # You can add own logo. For example '/images/logo.png'.
description: Transforming our communities and planet through the simple act of riding bikes to school together.
baseurl: "" # The subpath of your site, e.g. /blog
url: "" # The base hostname & protocol for your site, e.g. http://example.com


#-------------------------------
# Author Settings
#author:
#  name: Brandon Watson
#  avatar: '/images/15.jpg'


#-------------------------------
# Hero Settings
hero:
  title: Bike Bus PDX
  description: Portland Rocks!
  image: '/assets/images/hero.jpg'


#-------------------------------
# Contact Settings
#contact:
#  email: ride@bikebuspdx.org # Add your email for contant form
#  description: contact settings desc

# NOTE
# Aditu theme comes with a contact form built-in. You can use this form with Formspree service and get up to 50 submissions for free. Also, you can easily switch to another service if you want.


#-------------------------------
# Footer section
# Example of adding a new link to the footer - {icon: "ion-logo-github", link: "https://github.com"}
# Other icons can be found at https://ionicons.com
social:
- {icon: "fa-solid fa-envelope", link: "mailto:ride@bikebuspdx.org"}
- {icon: "fa-brands fa-instagram", link: "https://www.instagram.com/bikebuspdx/"}
- {icon: "fa-brands fa-twitter", link: "https://twitter.com/bikebuspdx"}

#-------------------------------
# Comment Section (Disqus)
# disqus-identifier: mr-brown # Add your shortname for Disqus Comment. For example mr-brown


#-------------------------------
# Google Analytics
# google-analytics: # Add your identifier. For example UA-99631805-1.

#-------------------------------
# Goat Analytics
goat-analytics: bikebuspdx # Add your code.

#-------------------------------
# Newsletter
# mailchimp: true # To enable the mailchimp form, use the value true. To turn off use the value false.
# mailchimp-identifier: # Add your MailChimp form identifier. For example - blogenjoyfreedom.us16.list-manage.com/subscribe/post?u=cd56155d76ddeeb4c0bc4d080&amp;id=7a526cd13e


#-------------------------------
# Build settings
markdown: kramdown
permalink: pretty
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll/tagging

paginate: 9
paginate_path: "/page/:num"

# Pages Path
defaults:
  - scope:
      path: '_pages'
    values:
      permalink: /:basename:output_ext

include:
  - _pages

# Tags
tag_page_dir:         tag
tag_page_layout:      tag_page
tag_permalink_style:  pretty

sass:
  sass_dir: _sass
  style: compressed
