{% if include.content %}{% markdown %}
{{ include.content }}
{% endmarkdown %}{% endif %}
<ul>
    {% if include.link_text %}<li><i class="fa-solid fa-link"></i> <a href="{{ include.link_href }}">{{ include.link_text }}</a></li>{% endif %}
    {% if include.map_href %}<li><i class="fa-solid fa-map"></i> <a href="{{ include.map_href }}">Route Map</a></li>{% endif %}
    {% if include.email %}<li><i class="fa-solid fa-envelope"></i> <a href="mailto:{{ include.email }}">{{ include.email }}</a></li>{% endif %}
    {% if include.bluesky %}<li><i class="fa-brands fa-bluesky"></i> <a href="https://bsky.app/profile/{{ include.bluesky }}">@{{ include.bluesky }}</a></li>{% endif %}
    {% if include.instagram %}<li><i class="fa-brands fa-instagram"></i> <a href="https://www.instagram.com/{{ include.instagram }}">@{{ include.instagram }}</a></li>{% endif %}
</ul>

{% if include.map_image %}<a href="{% if include.map_href %}{{ include.map_href }}{% else %}{{ include.link_href }}{% endif %}">
    <img class="minisite-image" src="{{ site.baseurl }}{{ include.map_image }}" alt="{{ include.map_alt }}">
    {% if include.map_image2 %}<img class="minisite-image" src="{{ site.baseurl }}{{ include.map_image2 }}" alt="{{ include.map_alt2 }}">
    {% endif %}
</a>{% endif %}
