
.hidden {
  display: none;
}

:root {
  --spacing: 8px;
}

.mb-0 { margin-bottom: 0; }
.mt-0 { margin-top: 0; }
.mb-1 { margin-bottom: calc(var(--spacing) * 1); }
.mt-1 { margin-top: calc(var(--spacing) * 1); }
.mb-2 { margin-bottom: calc(var(--spacing) * 2); }
.mt-2 { margin-top: calc(var(--spacing) * 2); }
.mb-3 { margin-bottom: calc(var(--spacing) * 3); }
.mt-3 { margin-top: calc(var(--spacing) * 3); }
.mb-4 { margin-bottom: calc(var(--spacing) * 4); }
.mt-4 { margin-top: calc(var(--spacing) * 4); }
.mb-5 { margin-bottom: calc(var(--spacing) * 5); }
.mt-5 { margin-top: calc(var(--spacing) * 5); }
.mb-6 { margin-bottom: calc(var(--spacing) * 6); }
.mt-6 { margin-top: calc(var(--spacing) * 6); }
.mb-7 { margin-bottom: calc(var(--spacing) * 7); }
.mt-7 { margin-top: calc(var(--spacing) * 7); }

.text-center { text-align: center; }

.fs-120p { font-size: 120%; }